<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			<!-- These 4 rows below are for demonstration purposes only
			     You will need to edit the code below in order to make
			     it dynamically list ALL 100 transactions from the Repo -->
			<tr>
				<td><a href="/transactions/50">50</a></td>
				<td>2020-01-01T19:04:48</td>
				<td>H-E-B Grocery</td>
				<td></td>
				<td>41.36</td>
			</tr>
			<tr>
				<td><a href="/transactions/1">1</a></td>
				<td>2020-01-02T11:36:58</td>
				<td>Amazon</td>
				<td></td>
				<td>52.08</td>
			</tr>
			<tr>
				<td><a href="/transactions/38">38</a></td>
				<td>2020-01-05T07:29:36</td>
				<td>Albertsons</td>
				<td>89.54</td>
				<td></td>
			</tr>
			<tr>
				<td><a href="/transactions/100">100</a></td>
				<td>2020-01-06T14:48:53</td>
				<td>Aldi</td>
				<td>38.50</td>
				<td></td>
			</tr>
			
		</table>
	</body>
</html>